body {

    background-color: #0D2624;
    font-family: 'Oswald', sans-serif;
}
.principal{
    background-color: #F2C36B;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
    height: 1030px;
}
header {
    background-color: #15403B;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
    padding: 25px;
  }
  

  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  }
  




h1 h2 h3 h4 h5 h6 {
    font-family: 'barskell' sans-serif;

}
img{
    width: 620px;
    height: 580px;
    
}

.image-container {
  position: relative;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: 'Literata', sans-serif;
  font-size: 3em;
  text-shadow: -1px -1px 0 #ed9a4e,  
               1px -1px 0 #ed9a4e,
               -1px 1px 0 #ed9a4e,  
               1px 1px 0 #ed9a4e;
}



.box-blink {
  background-color: transparent;
  color: #000000;
  font-family: "Nova Cut", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 15px 30px;
  width: 500px;
  position: relative;
  animation: blink 1s ease-in-out infinite;
  position: relative;
  text-align: center;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}





footer {
    background-color: #15403B;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin: 0;
  }
  
  footer div {
    flex-basis: 30%;
    color: #fff;
    font-weight: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  footer h4 {
    margin-top: 0;
    color: #fff;
    font-weight: #fff;
    font-family: 'Montserrat', sans-serif;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer a {
    color: #fff;
    font-weight: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
  